In [2]:
CREATE TABLE IF NOT EXISTS 'livre' (
    id_livre INT PRIMARY KEY,
    titre VARCHAR(90) NOT NULL,
    ann_pub INT,
    id_auteur INT REFERENCES auteur (id_auteur),
    id_langue INT REFERENCES langue (id_langue)
);

CREATE TABLE IF NOT EXISTS 'auteur'(
    id_auteur INT PRIMARY KEY,
    nom VARCHAR(40) NOT NULL,
    prenom  VARCHAR(40) NOT NULL,
    ann_naiss INT NOT NULL
);

CREATE TABLE IF NOT EXISTS 'genre'(
    id_genre INT PRIMARY KEY,
    theme VARCHAR(40) NOT NULL
);

CREATE TABLE IF NOT EXISTS 'langue'(
    id_langue INT PRIMARY KEY,
    langue VARCHAR(30) NOT NULL
);

CREATE TABLE IF NOT EXISTS 'livre_par_genre' (
    id_livre INT REFERENCES livre (id_livre),
    id_genre INT REFERENCES genre (id_genre),
    PRIMARY KEY (id_livre,id_genre)
);

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3669980429.py, line 2)

In [3]:
INSERT INTO 'auteur' VALUES
(1,'Orwell','George',1903),
(2,'Herbert','Franck',1920),
(3,'Asimov','Isaac',1920),
(4,'Huxley','Aldous',1894),
(5,'Bradbury','Ray',1920),
(6,'K.Dick','Philip',1928),
(7,'Barjavel','René',1911),
(8,'Boulle','Pierre',1912),
(9,'Van Vogt','Alfred Eton',1912),
(10,'Verne','Jules',1828);

INSERT INTO 'langue' VALUES
(1,'anglais'),
(2,'français'),
(3,'allemand');

INSERT INTO 'livre' VALUES
(1,'1984',1949,1,1),
(2,'Dune',1965,2,1),
(3,'Fondation',1951,3,1),
(4,'Le meilleur des mondes',1931,4,1),
(5,'Farenheit',1953,5,1),
(6,'Ubik',1969,6,1),
(7,'Chroniques martiennes',1950,5,1),
(8,'La nuit des temps',1968,7,1),
(9,'Blade runner',1968,6,1),
(10,'Les robots',1950,3,1),
(11,'La planète des singes',1963,8,2),
(12,'Ravage',1943,7,1),
(13,'Le maitre du haut chateau',1962,6,1),
(14,'Le monde des A',1945,9,1),
(15,"La fin de l'éternité",1955,3,1),
(16,'De la terre à la lune',1865,10,2);

INSERT INTO 'genre' VALUES
(1,'totalitarisme'),
(2,'science fiction'),
(3,'anticipation'),
(4,'dystopie'),
(5,'économie'),
(6,'tragédie'),
(7,'intelligence artificielle'),
(8,'uchronie'),
(9,'voyage dans le temps'),
(10,'aventure');

INSERT INTO 'livre_par_genre' VALUES
(1,1),(1,2),(1,3),(1,4),
(2,2),(2,3),
(3,2),(3,5),
(4,1),(4,2),(4,4),
(5,2),(5,4),
(6,2),(6,3),
(7,2),(7,3),
(8,2),(8,6),
(9,7),(9,2),
(10,2),(10,7),
(11,2),(11,4),
(12,2),(12,3),
(13,4),(13,8),
(14,2),(14,7),
(15,2),(15,9),
(16,2),(16,10);

SyntaxError: invalid syntax (1667361849.py, line 1)

In [ ]:
select * from livre;

id_livre	titre	ann_pub	id_auteur	id_langue
1	1984	1949	1	1
2	Dune	1965	2	1
3	Fondation	1951	3	1
4	Le meilleur des mondes	1931	4	1
5	Farenheit	1953	5	1
6	Ubik	1969	6	1
7	Chroniques martiennes	1950	5	1
8	La nuit des temps	1968	7	1
9	Blade runner	1968	6	1
10	Les robots	1950	3	1
11	La planète des singes	1963	8	2
12	Ravage	1943	7	1
13	Le maitre du haut chateau	1962	6	1
14	Le monde des A	1945	9	1
15	La fin de l'éternité	1955	3	1
16	De la terre à la lune	1865	10	2

In [ ]:
select * FROM auteur;

id_auteur	nom	prenom	ann_naiss
1	Orwell	George	1903
2	Herbert	Franck	1920
3	Asimov	Isaac	1920
4	Huxley	Aldous	1894
5	Bradbury	Ray	1920
6	K.Dick	Philip	1928
7	Barjavel	René	1911
8	Boulle	Pierre	1912
9	Van Vogt	Alfred Eton	1912
10	Verne	Jules	1828